<h1>Sign Up!</h1>
<form action="/signup" method="post">
  <h3>Username:<input type="text" name="username" value=""></h3>
  <h3>Email:<input type="text" name="email" value=""></h3>
  <h3>Password:<input type="text" name="password" value=""></h3>
  <input type="submit" name="" value="Sign Up">

</form>
