<h1>Log In to Fwitter:</h1>
<form action="/login" method="post">
  <h3>Username:<input type="text" name="username" value=""></h3>
  <h3>Password:<input type="text" name="password" value=""></h3>
  <input type="submit" name="" value="Log In" id="submit">

</form>
